@import "reset.css";

#app {
	max-width: 1200px;
	height: 100%;
	margin: 0px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.random__images {
	max-height: 100vh;
	max-width: 100%;
	align-self: center;
}

.fade {
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.fade-in {
	opacity: 1;
}

.fade-out {
	opacity: 0;
}
